<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>
</head>







  <div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Bordered Table</h3>
                </div>
                <td>
                    <div class="col-md-1">
                      <!-- select -->
                      <div class="form-group">
                        <label>SEARCH</label>
                        <div class="mb-3 searchWrap">
                          <form action="/board/list" method="get" class="actionForm">
                            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
                            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                            <select name="type" class="form-control">
                              <option value="">선택해주세요</option>
                              <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                              <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                              <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자 </option>
                              <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목+내용 </option>
                            </select>
                            <input type="text" name="keyword" class="form-control mb-3" placeholder="검색어를 입력 해주세요." 
                            th:value="${pageRequestDTO.keyword}">
                            <div class="button_wrap">
                              <button type="submit" class="btn btn-primary btnSearch">검색</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1">
                  <form action="http://localhost:8080/board/regist" method="get">
                    <button type="submit" class="btn btn-block btn-primary">글쓰기</button>
                  </form>
                </div>
                </td>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Title</th>
                      <th>Content</th>
                      <th style="width: 150px">Writer</th>
                      <th style="width: 250px;">Date</th>
                    </tr>
                    </thead>
                    
                      <tbody class="readBtn">
                      <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
                      <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                      <tr th:each="board : ${list.list}" th:data-bno=${board.bno}>
                        <td th:text="${board.bno}">1.</td>
                        <td th:text="${board.title}">title</td>
                        <td th:text="${board.content}">content</td>
                        <td th:text="${board.writer}">writer</td>
                        <td th:utext="${board.dueDate}">date</td>
                      </tr>
                      </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-right paging">
                    <li th:if="${list.prevBtn}"><a th:href="${list.startNum - 1}">이전</a></li>

                    <!-- startNum부터 endNum까지 넘버 시퀀스 생성해서 변수 i에 할당 -->
                    <th:block th:each="i : ${#numbers.sequence(list.startNum, list.endNum)}">
                      <li th:class="${pageRequestDTO.page == i} ? 'active' : ''">
                        <a th:href="${i}" class="btn btn-primary">[[${i}]]</a>
                      </li>
                    </th:block>

                    <li th:if="${list.nextBtn}"><a th:href="${list.endNum + 1}" class="btn-primary">다음</a></li>

                  </ul>
                </div>

              </div>
              <script src="/js/paging.js"></script>
              <!-- /.card -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>



  <script layout:fragment="script" th:inline="javascript">

  const readBtn = document.querySelector(".readBtn");
  const pageArea = document.querySelector(".card-footer");
  const boardUL = document.querySelector(".paging");
  const actionForm= document.querySelector(".actionForm");
  const searchBrn = document.querySelector(".btnSearch")
  const typeObj = document.querySelector("select[name=type]")
  const keywordObj = document.querySelector("input[name=keyword]")
  const pageInput = document.querySelector("input[name=page]")

  const {page,size, type, keyword} = [[${pageRequestDTO}]];
  const {total} = [[${list}]];

  console.log("----------------" + page, size, total);

  // 조회
  readBtn.addEventListener("click", e => {

    console.log("readBtn click..........")

    e.preventDefault()
    e.stopPropagation()

    const target = e.target;
    const bno = target.closest("tr").getAttribute("data-bno")

    actionForm.setAttribute("action",`/board/read/${bno}`)
    actionForm.submit()

  }, false)

  // 검색
  searchBrn.addEventListener("click", e => {
    e.stopPropagation()
    e.preventDefault()

    if(typeObj.options[typeObj.selectedIndex].value === "") {
      alert("검색 조건을 선택해주세요.")
      return
    } else if(keywordObj.value === '') {
      alert("검색어를 입력해주세요.")
      return
    }

    pageInput.value = 1
    actionForm.submit()

  }, false)

  boardUL.addEventListener("click", (e) => {
      //이벤트 막기
      e.preventDefault()
      e.stopPropagation()

      //target 찾기
      const target = e.target
      //console.log(target.tagName)

      //A태그가 아니면 return
      if(target.tagName !== "A"){
        return
      }

      //page번호 설정
      const pageNum = target.getAttribute("href")
      //console.log(pageNum)

      //input에 page변경 넘겨주기
      pageInput.value = pageNum
      //actionForm action 변경
      actionForm.setAttribute("action", "/board/list")
      //submit
      actionForm.submit()
    })

</script>

  </body>
</html>