<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>
</head>


<div layout:fragment="content">
  <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Regist Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                          <!-- general form elements -->
                          <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Quick Example</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="actionForm">

                                  <input type="hidden" class="form-control" name="bno" readonly
                                  th:value="${board.bno}">

                              <div class="card-body">
                                <div class="form-group">
                                  <label>Title</label>
                                  <input type="text" class="form-control" name="title" readonly
                                  th:value="${board.title}">
                                </div>

                                <div class="form-group">
                                  <label>Content</label>
                                  <input type="text" class="form-control" name="content" readonly
                                  th:value="${board.content}">
                                </div>

                                <div class="form-group">
                                  <label>Writer</label>
                                  <input type="text" class="form-control" name="writer" readonly
                                  th:value="${board.writer}">
                                </div>
                              </div>
                              <!-- /.card-body -->
              
                              <div class="card-footer" th:data-bno=${board.bno}>
                                  <a th:href="@{|/board/list?${pageRequestDTO.link}|}" class="btn btn-primary listBtn">
                                      LIST</a>
                                  <a th:href="@{|/board/modify/${board.bno}?${pageRequestDTO.link}|}" class="btn btn-info modifyBtn">
                                    MODIFY</a>
                                  <button type="submit" class="btn btn-danger deleteBtn">DELTE</button>
                            </form>

                              </div>
                            </form>
                          </div>
                          

                            <div class="col-sm-12 col-md-12 col-xl-12">
                              <div class="h-100 bg-light rounded p-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <h6 class="mb-0">Reply Register</h6>
                                </div>
                                <div class="mb-3 replyRegister">
                                  <input type="hidden" name="bno" th:value="${board.bno}">
                                  <input type="hidden" name="replyer" value="Josanghee">
                                  <input type="text" name="reply" class="form-control">
                                </div>
                                <div class="button_wrap">
                                  <button class="btn btn-primary btnRegister">Reply Register</button>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-xl-12">
                              <div class="h-100 bg-light rounded p-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <h6 class="mb-0">Reply</h6>
                                </div>
                                <div class="replyWrap"></div>
                                <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
                                  <!--/* paging */-->
                                  <ul class="btn-group me-2 paging replyPaging" role="group" aria-label="First group"></ul>
                                </div>
                              </div>
                            </div>
                          <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                      </div>
                    </div>
                    <!-- /.card-body -->
                    
                    <div class="card-footer clearfix">
                    </div>
                  </div>
                  <!-- /.card -->
          </section>
          <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/replyAxios.js"></script>
</div>
<!-- ./wrapper -->


<script layout:fragment="script" th:inline="javascript">

  const realPath = "http://" + window.location.host;
  const actionForm = document.querySelector(".actionForm");
  const deleteBtn = document.querySelector(".deleteBtn");
  const replyWrap = document.querySelector(".replyWrap")

  const bno = [[${board.bno}]]

  deleteBtn.addEventListener("click", e => {
    // 이벤트 기본 동작(폼 제출)을 막기 위해
    e.preventDefault();
    e.stopPropagation();

    actionForm.setAttribute("action", `/board/delete/${bno}`)
    actionForm.setAttribute("method", `post`);
    actionForm.submit();

  },false)


  // 최초 댓글 목록
  getListDefault()

</script>

</body>
</html>
